:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --dairy: #FCFCFC;
    --white: #ffffff;
	--black: #000000;
	--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .container {
	width: 1158px;
  }

h1 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

h2 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 40px;
	letter-spacing: 0.02em;
}

h3 {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.02em;
}

p{
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */
	letter-spacing: 0.02em;
}

ul {
	display: flex;
	list-style: none;
}

/* Header */
.header-backround {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--white);
	border-bottom: 1px solid var(--cornflower);

}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.link {
	text-decoration: none;
}

.meniu {
	list-style-type: none;
	margin: 0;
	padding: 10px;
}

.flex-container-meniu {
	display: flex;
	align-content: center;
	justify-content: space-evenly;
}

.flex-container-contacte {
	display: flex;
	align-content: center;
	justify-content: space-evenly;
}

.logo {
	width: 15%;
	text-align: center;
}

.logo a {
	font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.logo span {
    font-size: 18px;
    line-height: 1.17;
    color: var(--navy-blue);
  }

.navbar-item {
	width: 25%;
}

.meniu .meniu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
  }

  a.current-page {
	position: relative; /* Asigură că pseudo-elementul ::after este poziționat relativ la link */
  }
  
  /* Adaugă o linie de subliniere după textul link-ului curent */
  a.current-page::after {
	content: ""; /* Conținutul pseudo-elementului ::after */
	display: block; /* Face pseudo-elementul ::after un element de tip bloc */
	border-bottom: 2px solid var(--navy-blue); /* Stilizează linia de subliniere (poți alege culoarea dorită) */
	position: absolute; /* Poziționează linia de subliniere relativ la link */
	bottom: -2px; /* Ajustează poziția liniei de subliniere pentru a se potrivi cu textul */
	left: 0; /* Ajustează poziția liniei de subliniere pentru a se potrivi cu textul */
	width: 100%; /* Lățimea liniei de subliniere să fie egală cu lățimea link-ului */
  }

.meniu .meniu-link:hover,
.meniu .meniu-link:focus {
	color: var(--ocean);
	transition: color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

.spatiere {
	width: 20%;
}

.contacte {
	width: 40%;
	text-align: center;
	padding: 0% 5% 0%
}

.contacte a {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--slate);
	text-decoration: none;
  }
  
.contacte a:hover,
.contacte a:focus {
	color: var(--ocean);
	transition: color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Main*/
  /* Section 1 */

.section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.studio-section1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fundal {
	background:
linear-gradient(
rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)
),
url('../images/people-office 1.jpg');
	
}


.studio-section1 h1 {
	text-align: center;
    color: var(--white);
	width: 45%;
}

.studio-section1 button {

gap: 10px;
background: var(--iris);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

/* Button Text */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.04em;
/* WHITE */
color: var(--white);
padding: 1% 2%;
}

/* Sectiunea 2 */
.section2-icon {
	background-color: var(--cloud);
	display: flex;
	align-items: center;
  	justify-content: center;
	padding-top: 24px;
	padding-bottom: 24px;
}

.studio-section2 {
	display: flex;
	justify-content: center;
	padding-top: 8%;
}

.studio-section2 ul {
	width: 79%;
	list-style: none;
	display: flex;
	justify-content: space-around;
}

.studio-section2 ul li {
	/* Auto layout */
	width: 23%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	/*padding: 0px;
	gap: 8px;*/
}

.studio-section2 ul li h3 {
	margin-bottom: 10px;
	color: var(--navy-blue);
}

.studio-section2 ul li p {
	color: var(--slate);
}

/* Sectiunea 3 */
.studio-section3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 7%;
}

.studio-section3 h2 {
	text-align: center;
	text-transform: capitalize;
	/* NAVY BLUE */
	color: var(--navy-blue);
}

.studio-section3 ul {
	width: 79%;
	justify-content: space-between;
}

.studio-section3 ul li {
	width: 32%;
}

/* Sectiunea 4 */
.studio-section4 {
	background-color: var(--cloud);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 7%;
	padding-bottom: 8%;
}

.studio-section4 h2 {
	text-align: center;
	text-transform: capitalize;
	/* NAVY BLUE */
	color: var(--navy-blue);
}

.studio-section4 ul {
	width: 79%;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.studio-section4 ul li {
	/* Auto layout */
	width: 22%;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/*padding: 0px;
	gap: 8px;*/
	box-shadow: 0px 1px 6px var(--navy-blue);
}

,.studio-section4 ul li div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25px;
	margin-bottom: 25px;
}

.studio-section4 ul li div h3 {
	text-align: center;
	margin-bottom: 5px;
	color: var(--navy-blue)
	
}

.studio-section4 ul li div p {
	text-align: center;
	color: var(--slate);
	margin-top: 5px;
}

.icons-list {
	display: flex;
	gap: 5px;
	margin-bottom: 20px;
}

.icons-list .icon svg {
	width: 40px;
	height: 40px;
}

/* sectiunea 5 */
.studio-section5 h2 {
	text-align: center;
	text-transform: capitalize;
	/* NAVY BLUE */
	color: var(--navy-blue);
}

.studio-section5 .icons-list2 {
	margin-top: 72px;
	padding-left: 156px;
	padding-right: 156px;
	display: flex;
	gap: 10px;
	
}

.studio-section5 .icons-list2 .icon2 {
	width: 148px;
	height: 70px;
	box-shadow: 0px 4px 4px black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.studio-section5 .icons-list2 .icon2 svg {
	width: 104px;
	height: 56px;
}

/* Footer */
.subsol {
	background-color: var(--navy-blue);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-space1 {
	width: 77%;
	display: flex;
}

.footer-logo {
	width: 27%;
	padding-top: 7%;
	padding-bottom: 5%;
}

.footer-space2 {
	width: 73%;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 90px;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.footer-logo a {
	font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.footer-logo span {
	color: var(--white);
}

.footer-logo p {
	color: var(--cloud);
}

.body-medium {
	/* Body Medium */
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.02em;

/* WHITE */
color: var(--white);
}

/* Portofolio */
/* Main */

.vertical-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.vertical-container ul {
	padding-inline-start: 0px;
}

.filters-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 95%;
}

.filters {
	list-style: none;
	display: flex;
	justify-content: center;
	width: 30%;
	padding-right: 4px;
	margin-top: 60px;
	margin-bottom: 40px;
}

.filters li {
	padding: 2%;
}

.btn-active {
	/* OCEAN */
	background: var(--ocean);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	/* Button Text */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	text-align: center;
	letter-spacing: 0.04em;
	/* IRIS */
	color: var(--white);
}

.btn-normal {
	white-space: normal;
	/* CLOUD */
	background: var(--cloud);
	/* CORNFLOWER */
	border: 1px solid var(--cornflower);
	border-radius: 4px;
	/* Button Text */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	text-align: center;
	letter-spacing: 0.04em;
	/* IRIS */
	color: var(--iris);
	text-wrap: nowrap;
}

.btn-normal:hover {
	/* OCEAN */
	background: var(--ocean);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	/* IRIS */
	color: var(--white);
	transition: box-shadow 250ms;
	transition: background 250ms;
	transition: color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-normal:focus {
	/* OCEAN */
	background: var(--ocean);
	box-shadow: 0px 4px 4px black;
	/* IRIS */
	color: var(--white);
	transition: box-shadow 250ms;
	transition: background 250ms;
	transition: color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-cards {
	width: 78%;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.project-cards ul {
	justify-content: space-between;
}

.project-cards ul li {
	/*width: 30%;*/
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cards-row ul li:hover {
	box-shadow: 0px 1px 6px var(--navy-blue);
	transition: box-shadow 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-cards ul li img {
	margin-right: 40px;
}

.carusel {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
} 

.carusel .cards-row {
	width: 77%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.cards-row ul {
	list-style: none;
	justify-content: space-between;
}

.cards-row ul li {
	width: 32%;
	border: 1px solid var(--cornflower);
}

.cards-row ul li div h3 {
	
	color: var(--navy-blue);
	margin-bottom: 0px;
}

.cards-row ul li div p {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	letter-spacing: 0.02em;
	/* SLATE */
	color: var(--slate);
	margin-top: 5px;
	margin-bottom: 20px;
}

.img-container {
	position: relative;
	overflow: hidden;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: var(--iris);
	opacity: 0.75;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);;
  }
  
  .img-container:hover .overlay {
	height: 100%;
  }

  div.text {
	/* Body */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* or 150% */
	letter-spacing: 0.02em;
	
	/* CLOUD */
	color: var(--cloud);
	width: 90%;
	
	text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30303050;
    opacity: 1;
    transition: transform var(--transition);
}

.is-hidden {
    visibility: hidden;
    transform: scale(1.1);
}

.modal-content {
    padding: 16px;
    background-color: var(--dairy);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
    width: 360px;
    height: 500px;
	opacity: 1;
    position: absolute;
}

.close-btn {
    background-color: var(--cornflower);
    border-radius: 50%;
    color: var(--navy-blue);
    outline: none;
    position: absolute;
    top: 24px;
    right: 24px;
    box-shadow: 0px 2px 2px var(--light-slate);
}

.modal-text {
	position: absolute;
	width: 360px;
	height: 24px;
	/* Body Medium */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height, or 150% */
	text-align: center;
	letter-spacing: 0.02em;
	color: var(--navy-blue);
}

.modal-form {
	display: flex;
	flex-direction: column;
	margin-top: 50px;

}

.modal-form-label {
	margin-top: 2px;
	display: flex;
	flex-direction: column;
	width: 360px;
	/*height: 58px;*/
	
}

.modal-form-label p {
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	/* identical to box height, or 117% */
	letter-spacing: 0.04em;
	color: var(--light-slate);
}

.input {
	width: 320px;
	height: 40px;
	border-radius: 4px;
}

.input:focus {
	border: 2px solid;
	border-color: var(--iris);
	transition: color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input:hover {
	border: 2px solid;
	border-color: var(--iris);
	transition: color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input:active {
	border: 2px solid;
	border-color: var(--iris);
	transition: color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input-textarea {
	width: 360px;
	height: 120px;
	border-radius: 4px;
  }

  .input-textarea:focus {
	border: 2px solid;
	border-color: var(--iris);
	transition: border-color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input-textarea:hover {
	border: 2px solid;
	border-color: var(--iris);
	transition: color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input-textarea:active {
	border: 2px solid;
	border-color: var(--iris);
	transition: color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  #input-name {
	background-image: url('../images/person-black.svg');
	background-position: 12px 12px; 
	background-repeat: no-repeat;
	padding-left: 40px;
 }

  #input-name:focus,
  #input-name:hover,
  #input-name:active, {
	border: 2px solid var(--iris);
	background-image: url('../images/person-iris.svg');
	transition: backround-image 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

 #input-phone {
	background-image: url('../images/phone-black.svg');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding-left: 40px;
 }

 #input-phone:focus,
  #input-phone:hover,
  #input-phone:active {
	border: 2px solid var(--iris);
	background-image: url('../images/phone-iris.svg');
	transition: backround-image 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

 #input-mail {
	background-image: url('../images/email-black.svg');
	background-position: 16px 10px; 
	background-repeat: no-repeat;
	padding-left: 40px;
 }

  #input-mail:focus,
  #input-mail:hover,
  #input-mail:active {
	border: 2px solid;
	border-color: var(--iris);
	background-image: url('../images/email-iris.svg');
	background-repeat: no-repeat;
	transition: backround-image 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  #person-name {
	width: 18px;
	height: 24px;
	top: 25%;
	left: 30px;
 }

  #person-phone {
	width: 18px;
	height: 24px;
	top: 38%;
	left: 30px;
  }

  #person-email {
	width: 30px;
	height: 30px;
	top: 51%;
	left: 28px;
  }

  .modal-form-label svg {
	position: absolute;
	
	fill: currentColor;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
  }

  .modal-form-label svg:focus {
	fill: var(--iris);
	stroke: var(--iris);
	transition: color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-form-label svg:hover {
	fill: var(--iris);
	stroke: var(--iris);
	transition: color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form-label svg:active {
	fill: var(--iris);
	stroke: var(--iris);
	transition: color 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }